<!-- Django Tags -->
{% load i18n %}

<!-- My Tags -->
{% load category_tags %}

<!-- Header -->
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="{% url "pages:home" %}"><h2>{% site_name %}<em>.</em></h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "pages:home" %}">
                        {% trans "Home"%}
                    </a>
                </li> 
                <li class="nav-item active">
                    <a class="nav-link" href="{% url "blog:post_list" %}">
                        {% trans "Blog" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">
                        {% trans "About Us" %}
                    </a>
                </li>
                {% for category in categories_info %}
                    <li class="nav-item">
                        {% comment %} <a class="nav-link" href="{% url "pages:contact_us" %}">{% trans "Contact Us" %}</a> {% endcomment %}
                        <a class="nav-link" href="{% url "blog:categories_post_list" category.slug %}">
                            {{ category.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
